@font-face {
  font-family: 'Muller';
  src: local('../fonts/MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('../fonts/MullerMedium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('../fonts/MullerLight'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('../fonts/MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  background: #e5e5e5;
  font-family: 'Muller', sans-serif;
}

/* Custom color */
:root {
  --yellow_bright: #f0bf5f;
  --yellow_color: #cc9933;
  --yellow_dark: #a47312;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-descr {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font: 400 40px 'Muller';
  color: #333;
}

.section-margin {
  margin: 0;
  margin-bottom: 70px;
}

/* header */
.container-header {
  padding-top: 30px;
}

.top-header {
  margin: 0;
  margin-bottom: 30px;
  align-items: center;
}

.logo-header {
  margin-right: 40px;
}

.header-tel {
  margin-right: auto;
  font: 500 20px 'Muller';
  outline-offset: 5px;
  outline: 1px solid transparent;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-tel:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow_color);
  color: var(--yellow_color);
}

.header-tel:hover {
  color: var(--yellow_color);
}

.header-tel:active {
  color: var(--yellow_dark);
  outline: none;
}

.header-myacc {
  margin: 0;
  align-items: center;
  outline-offset: 5px;
  outline: 1px solid transparent;
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out, outline 0.3s ease;
}

.header-myacc-item {
  margin-right: 5px;
  fill: var(--yellow_color);
  transition: fill 0.3s ease-in-out;
}

.header-myacc-descr {
  margin: 0;
  font: 400 16px 'Muller';
  color: var(--yellow_color);
  transition: color 0.3s ease-in-out;
}

.header-myacc:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow_color);
}

.header-myacc:active {
  outline: none;
}

.header-myacc:hover .header-myacc-item {
  fill: var(--yellow_bright);
}

.header-myacc:hover .header-myacc-descr {
  color: var(--yellow_bright);
}

.header-myacc:active .header-myacc-item {
  fill: var(--yellow_dark);
  outline: none;
}

.header-myacc:active .header-myacc-descr {
  color: var(--yellow_dark);
  outline: none;
}

.bot-header {
  padding: 14px 45px;
  margin-bottom: 70px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 15px;
}

.list-header-set {
  flex-wrap: wrap;
}

.header-nav-items {
  margin: 0;
  margin-right: 45px;
  max-width: 150px;
  font: 400 16px 'Muller';
  color: #666;
}

.header-nav-items:last-child {
  margin-right: 0;
}

.header-nav-items-right {
  display: inline-block;
  max-width: 35%;
  margin: 0;
  font-size: 0;
}

.btn-header {
  display: inline-block;
  margin-right: 40px;
  padding: 13px 20px;
  border: 1px solid var(--yellow_color);
  border-radius: 10px;
  font: 400 16px 'Muller';
  color: var(--yellow_color);
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-header:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.btn-header:focus {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-header:hover {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-header:active {
  background-color: var(--yellow_dark);
  border-color: var(--yellow_dark);
  color: #fff;
}

/* main */
/* sales */
.high-content {
  margin-bottom: 51px;
  justify-content: space-between;
}

.high-items-size {
  margin: 0;
  width: 573px;
}

.high-content-size {
  position: relative;
  flex-flow: column wrap;
  margin-bottom: 43px;
  min-height: 258px;
  border: 1px solid transparent;
  border-radius: 15px;
  /* overflow: hidden; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.high-content-size:last-child {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.high-descr-padd {
  padding: 40px 108px 40px 45px;
}

.high-descr-padd-right {
  padding: 212px 170px 148px 45px;
  padding-bottom: 0;
}

.high-offers-descr {
  max-width: 95%;
  margin: 0;
  margin-bottom: 15px;
  font: 700 40px 'Muller';
  color: #fff;
}

.high-offers-descr-right {
  max-width: 95%;
  margin: 0;
  margin-bottom: 15px;
  font: 700 60px 'Muller';
  color: #fff;
}

.offers-prices-right {
  max-width: 70%;
  margin: 0;
  margin-bottom: 47px;
  padding-right: 18px;
  font: 400 30px 'Muller';
  color: #fff;
  word-wrap: break-word;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.offers-prices {
  max-width: 50%;
  margin: 0;
  margin-bottom: 47px;
  padding-right: 18px;
  font: 400 20px 'Muller';
  color: #fff;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.but-block {
  display: flex;
  min-width: 70%;
}

.but-block::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  outline: 1px solid var(--yellow_color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.but-block:focus::before {
  opacity: 1;
}

.high-ref-button {
  max-width: 50%;
  margin-right: 5px;
  font: 400 16px 'Muller';
  color: var(--yellow_bright);
  transition: color 0.3s ease-in-out;
}

.high__link_arrow {
  stroke: var(--yellow_bright);
  transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.but-block:hover .high__link_arrow {
  transform: translateX(11px);
  stroke: var(--yellow_color);
}

.but-block:hover .high-ref-button {
  color: var(--yellow_color);
}

.but-block:active .high__link_arrow {
  transform: translateX(11px);
  stroke: var(--yellow_dark);
}

.but-block:active .high-ref-button {
  color: var(--yellow_dark);
}

.but-block:active::before {
  outline: none;
}

.del-p {
  text-decoration: line-through;
  text-decoration-color: white;
}

.hyphens {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.high-bg-chamb {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/high/bg-chamb.jpg');
}

.high-bg-islfst {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/high/bg-island1.jpg');
}

.high-bg-islscd {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/high/bg-island2.jpg');
}


.offers-button {
  background-image: url('../img/offer-arrow.svg');
}

/* about */
.main-about-text {
  margin: 0;
  max-width: 75%;
  font: 400 16px / 200% 'Muller';
  text-align: justify;
}

/* services */
.services-list {
  flex-flow: row wrap;
}

.section-margin-services-exept {
  margin: 0;
  margin-bottom: 46px;
}

.services-list-item {
  position: relative;
  max-width: 573px;
  min-height: 330px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 191px 126px 35px 45px;
  border: 0 solid transparent;
  border-radius: 15px;
  background-color: #fff;
  /* overflow: hidden; */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-list-item:nth-child(2n) {
  margin-right: 0;
}

.services__link {
  display: flex;
  align-items: center;
}

.services__link::after {
  content: "";
  position: absolute;
  outline: 1px solid var(--yellow_color);
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services__link:focus:after {
  opacity: 1;
}

.services__link:hover .services__link_arrow {
  transform: translateX(20px);
  stroke: var(--yellow_bright);
}

.services__link:hover .services-ref-button {
  color: var(--yellow_bright);
}

.services__link:active .services__link_arrow {
  stroke: var(--yellow_dark);
}

.services__link:active .services-ref-button {
  color: var(--yellow_dark);
}

.services__link:active::after {
  outline: none;
}

.services-ref-button {
  margin-right: 5px;
  font: 500 20px / 200% 'Muller';
  color: var(--yellow_color);
  transition: color 0.3s ease-in-out;
}

.services__link_arrow {
  stroke: var(--yellow_color);
  transition: transform 0.5s ease-in-out, stroke 0.3s ease-in-out;
}

/* .services__link_arrow:hover {
  transform: translateX(16px);
} */

.serv-list-descr {
  margin: 0;
  font: 400 16px / 200% 'Muller';
}

.bg-services-img1 {
  background-image: url('../img/services/bg-services1.jpg');
}

.bg-services-img2 {
  background-image: url('../img/services/bg-services2.jpg');
}

.bg-services-img3 {
  background-image: url('../img/services/bg-services3.jpg');
}

.bg-services-img4 {
  background-image: url('../img/services/bg-services4.jpg');
}

/* advantages */
.advan__descr {
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.advan__descr:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow_color);
  color: var(--yellow_color);
}

.advan__descr:hover {
  color: var(--yellow_bright);
}

.advan__descr:active {
  color: var(--yellow_dark);
  outline: none;
}

.advan-list {
  flex-flow: row wrap;
}

.section-margin-adv-exept {
  margin: 0;
  margin-bottom: 48px;
}

.advan-list-item {
  margin: 0;
  margin: 0 22px 22px 0;
  width: 276px;
  min-height: 276px;
  padding: 39px 42px 32px 45px;
  justify-content: space-between;
  border: 0px solid transparent;
  border-radius: 15px;
  background-color: #fff;
}

.advan-list-item:nth-child(4n) {
  margin: 0 0 22px 0;
}

.advan-list-item-text {
  margin: 0;
  padding-top: 77px;
  font: 400 16px / 200% 'Muller';
  background-size: 67px 67px;
  background-position: left top;
  background-repeat: no-repeat;
}

.bg-advant1 {
  background-image: url('../img/advantages/advan-bg1.svg');
}

.bg-advant2 {
  background-image: url('../img/advantages/advan-bg2.svg');
}

.bg-advant3 {
  background-image: url('../img/advantages/advan-bg3.svg');
}

.bg-advant4 {
  background-image: url('../img/advantages/advan-bg4.svg');
}

.bg-advant5 {
  background-image: url('../img/advantages/advan-bg5.svg');
}

.bg-advant6 {
  background-image: url('../img/advantages/advan-bg6.svg');
}

.bg-advant7 {
  background-image: url('../img/advantages/advan-bg7.svg');
}

.bg-advant8 {
  background-image: url('../img/advantages/advan-bg8.svg');
}

/* placements */
.place-list {
  flex-flow: row wrap;
}

.section-margin-place-exept {
  margin: 0;
  margin-bottom: 46px;
}

.place-list-item {
  margin: 0;
  margin: 0 24px 24px 0;
  max-width: 374px;
  min-height: 440px;
  border: 0 solid transparent;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.place-list-item:nth-child(3n) {
  margin: 0 0 24px 0;
}

.place-img-margin {
  margin-bottom: 32px;
}

.place-content-pad {
  padding: 0 45px 15px;
}

.hotel-descr {
  display: inline-block;
  margin-bottom: 16px;
}

.hotel-descr-item-frst {
  margin-right: 4px;
  font: 400 16px 'Muller';
  color: #999;
}

.hotel-descr-item-scnd {
  margin-right: 4px;
  font: 700 20px 'Muller';
}

.hotel-descr-item-thd {
  margin-right: 55px;
  font: 400 16px 'Muller';
}

.place-hotel-name {
  margin: 0;
  margin-bottom: 16px;
  font: 400 16px 'Muller';
}

.place-hotel-country {
  margin: 0;
  margin-bottom: 20px;
  font: 400 16px 'Muller';
  color: #999;
}

.place-but-pos {
  margin: 0;
}

.button-place {
  padding: 13px 20px;
  border: 1px solid var(--yellow_color);
  border-radius: 10px;
  font: 400 16px 'Muller';
  color: var(--yellow_color);
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.button-place:focus {
  background-color: var(--yellow_color);
  color: #fff;
}

.button-place:hover {
  background-color: var(--yellow_color);
  color: #fff;
}

.button-place:active {
  background-color: var(--yellow_dark);
  border-color: var(--yellow_dark);
  color: #fff;
}

.more-list-item {
  margin: 0;
  margin: 0 24px 24px 0;
  max-width: 374px;
  min-height: 440px;
  border: 0 solid transparent;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-pad {
  display: flex;
  position: relative;
  align-items: flex-end;
  padding: 27px 53px;
}


.place-item-more {
  min-width: 374px;
  margin-right: 0;
}

.place-item-more-ref {
  padding-right: 18px;
  font: 500 20px / 200% 'Muller';
  color: #fff;
  background-size: 18px 18px;
  background-position: right center;
  background-repeat: no-repeat;
}

.place-item-more-ref::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-place-more {
  background-image: url('../img/placements/place-img-9.png');
}

.bg-rect-icon {
  background-image: url('../img/placements/Rectangle.svg');
}

/* fieldform */
.form-container {
  margin-bottom: 70px;
  padding: 45px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.section-descr-form {
  margin: 0;
  margin-bottom: 20px;
  font: 400 40px 'Muller';
  color: #333;
}

.field-form {
  padding: 32px 28px;
  border-radius: 15px;
  background-color: #fff;
}

.form-wrap {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label-wrap {
  display: flex;
  flex-flow: column wrap;
  margin-right: 41px;
}

.label-wrap:last-child {
  margin-right: 0;
}

.form-left-select-size {
  width: 169px;
}

.form-left-input-size {
  width: 121px;
}

.form-item-descr {
  margin: 0;
  margin-bottom: 15px;
  font: 400 12px 'Muller';
}

.form-item-bord {
  max-width: 169px;
  margin: 0;
  border: none;
  font: 400 16px 'Muller';
}

.form-item-bord-ex {
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  font: 400 16px 'Muller';
}

.btn-form {
  display: flex;
  padding: 13px 30px;
  border: 1px solid var(--yellow_color);
  border-radius: 10px;
  font: 400 16px 'Muller';
  color: var(--yellow_color);
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-form:focus {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-form:hover {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-form:active {
  background-color: var(--yellow_dark);
  border-color: var(--yellow_dark);
  color: #fff;
}


/* Contacts */
.contacts-main {
  margin: 0;
  margin-bottom: 40px;
  padding: 45px;
  justify-content: space-between;
  border: 0px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.contacts-adress {
  max-width: 375px;
}

.contacts-img {
  max-width: 653px;
}

.contacts-img-item {
  width: 653px;
  height: 528px;
}

.contacts-info {
  margin: 0;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 528px;
}

.contacts-info-items {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-info-items:last-child {
  margin-bottom: 0;
}

.contacts-info-button {
  display: flex;
  align-items: flex-end;
  padding-top: 22px;
}

.contacts-block-fst {
  width: 145px;
  font: 700 20px 'Muller';
}

.contacts-block-scnd {
  display: flex;
  flex-flow: column wrap;
  max-width: 230px;
  margin: 0;
}

.contacts-block-scnd-item {
  margin: 0;
  font: 400 16px / 150% 'Muller';
}

.contacts__mail_link {
  margin: 0;
  font: 400 16px / 150% 'Muller';
  color: var(--yellow_color);
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: color 0.3s ease-in-out,
    outline 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contacts__mail_link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow_color);
  color: var(--yellow_color);
}

.contacts__mail_link:hover {
  color: var(--yellow_bright);
  transform: scale(1.1);
}

.contacts__mail_link:active {
  color: var(--yellow_dark);
  outline: none;
}


.btn-contacts {
  display: inline-block;
  padding: 27px 29.5px;
  border: 1px solid var(--yellow_color);
  border-radius: 10px;
  font: 400 16px 'Muller';
  color: var(--yellow_color);
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-contacts:focus {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-contacts:hover {
  background-color: var(--yellow_color);
  color: #fff;
}

.btn-contacts:active {
  background-color: var(--yellow_dark);
  border-color: var(--yellow_dark);
  color: #fff;
}

.contacts-text-color-fst {
  color: var(--yellow_color);
}

.contacts-text-color-scnd {
  color: #999;
}

/* footer */
.footer-main {
  min-height: 341px;
  margin: 0;
  margin-bottom: 30px;
  padding: 45px;
  justify-content: space-between;
  border: 0 solid transparent;
  border-radius: 15px;
  overflow: hidden;
  background-color: #333;
  background-size: 254px 228px;
  background-position: 739px bottom;
  background-repeat: no-repeat;
}

.footer-content-left {
  margin: 0;
  width: 786px;
  justify-content: space-between;
}

.footer-content-right {
  margin: 0;
  flex-flow: column;
}

.foot-icons {
  font-size: 0;
  margin-bottom: 20px;
}

.foot-icons svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.foot-icons svg:focus {
  fill: var(--yellow_color);
}

.foot-icons svg:hover {
  fill: var(--yellow_color);
}

.foot-icons svg:active {
  fill: var(--yellow_dark);
}

.footer-content-block-fst {
  margin: 0;
  width: 302px;
  flex-flow: column wrap
}

.footer-content-block-scnd {
  margin: 0;
  width: 359px;
  flex-flow: column wrap
}

.footer-text-fst {
  margin: 0;
  margin-bottom: 37px;
  font: 400 16px / 190% 'Muller';
  color: #fff;
}

.footer-text-scnd {
  margin: 0;
  font: 400 16px / 150% 'Muller';
}

.footer-text-thd {
  margin: 0;
  margin-bottom: 15px;
  font: 400 16px / 30px 'Muller';
  color: #fff;
}

.footer-text-fr {
  margin: 0;
  margin-bottom: 15px;
  font: 400 16px / 150% 'Muller';
}

.footer-contacts {
  display: block;
  outline-offset: 5px;
  outline: 1px solid transparent;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.footer-contacts:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow_color);
  color: var(--yellow_color);
}

.footer-contacts:hover {
  color: var(--yellow_bright);
  transform: scale(1.1);
}

.footer-contacts:active {
  color: var(--yellow_dark);
  outline: none;
}

.footer-bg {
  background-image: url('../img/footer/footer-logo.png');
}
