@media (max-width: 1440px) {
  .about__info {
    flex-wrap: wrap;
  }

  .about__card {
    max-width: 100%;
    width: 100%;
    min-height: 622px;
  }

  .about__list {
    max-width: 100%;
    width: 100%;
  }

  .about__case__text {
    max-width: 75%;
    width: 100%;
  }

}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .section-margin {
    margin-bottom: 40px;
  }

  .header-logo {
    width: 150px;
    height: 48px;
  }

  .header__container {
    padding: 13px 50px 9px;
  }

  .nav__list {
    gap: 60px;
    margin-right: 107px;
  }

  .hero--offset {
    margin-bottom: 38px;
  }

  .hero__container {
    padding: 0 50px;
  }

  .hero__block {
    padding: 160px 15px 50px 77px;
    min-height: 668px;
  }

  .hero__title {
    margin-bottom: 16px;
    max-width: 85%;
    font-size: 60px;
  }

  .hero__descr {
    margin-bottom: 60px;
    max-width: 85%;
    font-size: 20px;
  }

  .hero__btn {
    padding: 26px 36px 24px;
    letter-spacing: 0.5px;
  }

  /* about */
  .about--offset {
    margin-bottom: 77px;
  }

  .about--container {
    padding: 0 50px;
  }

  .about__info {
    gap: 32px;
  }

  .about__descr {
    margin-bottom: 58px;
  }

  .about__card {
    max-width: 1200px;
    width: 100%;
    min-height: 640px;
  }

  .about__btn {
    padding: 17px 35px;
  }

  .about__list {
    max-width: 1200px;
    width: 100%;
    gap: 32px;
  }

  .about__case {
    padding: 64px 114px 65px 76px;
    justify-content: flex-start;

  }

  .about__case__text {
    max-width: 800px;
    width: 100%;
  }

  /* how */
  .how--offset {
    margin-bottom: 82px;
  }

  .how--container {
    padding: 0 49px;
  }

  .how__title {
    margin-bottom: 31px;
  }

  .how__title--style {
    margin-bottom: 8px;
  }

  .how__descr {
    margin-bottom: 23px;
  }

  .how__block {
    max-width: 50%;
    width: 100%;
  }

  .how__bg {
    padding-top: 12px;
    max-width: 50%;
    width: 100%;
  }

  /* questions */
  .questions--container {
    padding: 0 50px;
  }

  .questions__list {
    flex-wrap: wrap;
  }

  .questions__item {
    max-width: 1200px;
    width: 100%;
    min-height: auto;
  }

  /* footer */
  .footer--offset {
    padding: 30px 0;
  }

  .footer__container {
    padding: 0 50px;
    gap: 60px;
  }

  .footer__menu {
    max-width: 35%;
    width: 100%;
  }

  .footer__menu__list--offset {
    margin-bottom: 88px;
  }

  .footer__form {
    max-width: 65%;
    width: 100%;
  }

  .footer__form__field {
    max-width: 100%;
    width: 100%;
  }

  .footer__form__field--resize {
    margin-bottom: 27px;
  }

  .footer__form__block {
    max-width: 100%;
    width: 100%;
    gap: 22px;
  }

  .footer-svg {
    margin-bottom: 15px;
  }

  .footer__btn {
    padding: 20px 36px;
    max-width: 45%;
    width: 75%;
  }

  .footer__form__check {
    max-width: 55%;
    width: 100%;
  }

  .footer__text {
    display: none;
  }

}

@media (max-width: 992px) {

  /* header */
  .logo {
    padding: 4px 0;
  }

  .header-logo {
    width: 110px;
    height: 35px;
  }

  .nav__link {
    font-size: 16px;
    letter-spacing: 0.05px;
  }

  .nav__list {
    gap: 42px;
    margin-right: 45px;
  }

  /* hero */
  .hero--offset {
    margin-bottom: 36px;
  }

  .hero__block {
    padding: 161px 37px 50px 41px;
    min-height: 662px;
    border-radius: 22px;
  }

  .hero__title {
    margin-bottom: 16px;
    max-width: 100%;
    font-size: 50px;
  }

  .hero__descr {
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 18px;
  }

  .hero__btn {
    padding: 25px 37px 23px;
    letter-spacing: 0.2px;
  }

  /* about */
  .about--offset {
    margin-bottom: 81px;
  }

  .about__title {
    margin-bottom: 21px;
  }

  .about__descr {
    margin-bottom: 54px;
  }

  .about__card {
    min-height: 650px;
    border-radius: 22px;
  }

  .about__items {
    padding: 34px 40px;
  }

  .about__text {
    max-width: 382px;
  }

  .about__icon {
    max-width: 114px;
    width: 100%;
    max-height: 99px;
    height: 100%;
  }

  .about__case {
    padding: 32px 43px 31px 38px;
    min-height: 235px;
    align-items: center;
    border-radius: 20px;
    gap: 17px;
  }

  /* how */
  .how--container {
    padding: 0 50px;
  }

  .how__info {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 38px;
  }

  .how__block {
    max-width: 100%;
    width: 100%;
  }

  .how__bg {
    padding-top: 0px;
    max-width: 100%;
    width: 100%;
    min-height: 0;
    max-height: 284px;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
  }

  /* questions */

  .questions--offset {
    margin-bottom: 100px;
  }

  .questions__item {
    padding: 34px 39px;
  }

  .questions__title {
    margin-bottom: 30px;
  }

  .questions__title--style {
    margin-bottom: 8px;
  }

  /* footer */
  .footer__container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 51px;
  }

  .footer__form {
    max-width: 81%;
    width: 100%;
  }

  .footer__btn {
    padding: 19px 36px;
  }

  .footer-svg {
    margin-bottom: 12px;
  }

  .footer__menu__list--offset {
    display: none;
  }

  .footer__form__field--resize {
    margin-bottom: 28px;
  }

}

@media (max-width: 576px) {

  /* header */
  .section-margin {
    margin-bottom: 50px;
  }

  .header__container {
    padding: 12px 15px 9px;
    gap: 15px;
    overflow: auto;
  }

  .logo {
    order: 1;
  }

  .nav {
    order: 3;
    flex-shrink: 0;
  }

  .search {
    order: 2;
  }

  .nav__list {
    flex-wrap: nowrap;
    margin-right: 0;
    gap: 26px;
  }

  .nav__list {
    gap: 26px;
  }

  .nav__link {
    letter-spacing: 0.01px;
  }

  /* hero */
  .hero--offset {
    margin-bottom: 60px;
  }

  .hero__container {
    padding: 0 15px;
  }

  .hero__block {
    padding: 60px 24px;
    border-radius: 16px;
    align-items: center;
    min-height: auto;
    max-height: 100%;
    height: 100%;
  }

  .hero__title {
    margin-bottom: 9px;
    text-align: center;
    font-size: 20px;
  }

  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    text-align: center;
  }

  .hero__btn {
    padding: 12px 27px;
    border-radius: 8px;
    font-size: 12px;
  }

  /* about */
  .about--offset {
    margin-bottom: 59px;
  }

  .about--container {
    padding: 0 15px;
  }

  .about__title {
    font: 400 24px 'Montserrat';
  }

  .about__descr {
    margin-bottom: 13px;
    font: 400 14px / 28px 'Montserrat';
  }

  .about__text {
    font: 400 14px / 28px 'Montserrat';
    color: var(--color-dark);
  }

  .about__btn {
    padding: 10px 41px;
    font: 700 12px 'Montserrat';
    color: var(--color-yellow);
    border-radius: 8px;
  }

  .about__btn:focus-visible {
    background-color: transparent;
  }

  .about__btn:hover {
    background-color: transparent;
  }

  .about__card {
    margin-bottom: 200px;
    position: relative;
    min-height: 200px;
    border-radius: 16px;
  }

  .about__list {
    gap: 4px;
  }

  .about__items {
    padding: 5px 0px;
    flex-direction: column;
    position: absolute;
    bottom: -204px;
    align-items: flex-start;
    background-color: transparent;
    gap: 11px;
  }

  .about__case {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
    gap: 13px;
  }

  .about__icon {
    max-width: 64px;
    width: 100%;
    max-height: 49px;
    height: auto;
  }

  .about__case__text {
    gap: 0;
  }

  .about__case__title {
    margin-bottom: 3px;
    font: 500 18px 'Montserrat';
  }

  .about__case__descr {
    font: 400 14px / 28px 'Montserrat';
  }

  /* how */
  .how--offset {
    margin-bottom: 60px;
  }

  .how--container {
    padding: 0 15px;
  }

  .how__info {
    gap: 15px;
  }


  .how__title {
    margin-bottom: 20px;
    font: 400 24px 'Montserrat';
  }

  .how__bg {
    max-height: 100%;
    min-height: 160px;
    border-radius: 14px;
  }

  .how__title--style {
    margin-bottom: 8px;
    font: 400 18px / 32px 'Montserrat';
  }

  .how__descr {
    margin: 0;
    margin-bottom: 23px;
    padding-left: 0;
    font: 400 14px / 28px 'Montserrat';
  }

  .how__buttons {
    gap: 10px;
  }

  .how__btn {
    padding: 12px 44px;
    border-radius: 8px;
    font: 700 12px 'Montserrat';
  }

  .how__ref {
    padding: 12px 32px;
    border-radius: 8px;
    font: 400 12px 'Montserrat';
  }

  /* questions */
  .questions--offset {
    margin-bottom: 60px;
  }

  .questions--container {
    padding: 0 15px;
  }

  .questions__title {
    margin-bottom: 20px;
    font: 400 24px 'Montserrat';
  }

  .questions__item {
    padding: 0;
    border: none;
  }

  .questions__title--style {
    margin-bottom: 4px;
    font: 500 18px 'Montserrat';
  }

  .questions__descr {
    font: 400 14px / 28px 'Montserrat';
  }

  /* footer */
  .footer__container {
    padding: 0 15px;
    gap: 26px;
  }

  .footer__form__title {
    margin-bottom: 19px;
    font: 400 24px 'Montserrat';
  }

  .footer__form {
    max-width: 100%;
    width: 100%;
  }

  .footer__form__fio {
    padding: 14px 20px;
  }

  .footer__form__mail {
    padding: 14px 20px;
  }

  .footer__form__message {
    padding: 14px 20px;
  }

  .footer__form__ph::placeholder {
    font: 400 14px / 32px 'Montserrat';
  }

  .footer__form__field--resize {
    margin-bottom: 21px;
  }

  .footer__form__block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
  }

  .footer__btn {
    padding: 13px 3px;
    max-width: 56%;
    border-radius: 8px;
    font: 700 12px 'Montserrat';
  }

  .footer__form__check {
    max-width: 97%;
  }

  .footer__menu {
    max-width: 100%;
    width: 100%;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-svg {
    max-width: 131px;
    width: 100%;
    min-height: 42px;
    margin-bottom: 0;
  }

  .footer__social__link {
    width: 40px;
    height: 40px;
  }

  .footer__menu__social {
    gap: 14px;
  }

  .footer-ref {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .footer__form__block::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
    width: 100%;
    height: 2px;
    border: 1px solid var(--color-dark-gray);
  }

  .footer__form__check {
    justify-content: center;
  }

  .custom-checkbox {
    position: absolute;
    margin-left: -18.2em;
  }
}
