@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Custom color */
:root {
  --color-white: #fff;
  --color-yellow: #ff9900;
  --color-dark: #000;
  --color-gray: #cacaca;
  --color-dark-gray: #414141;
  --color-hover-gray: #666;
  --color-hover: #ffb84d;
  --color-active: #e1670e;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.section-margin {
  margin-bottom: 47px;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */
.header {
  border: 0 solid transparent;
  border-radius: 0px 0px 32px 32px;
  background-color: var(--color-white);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.logo {
  margin: 0;
  margin-right: auto;
  padding: 13px 0;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  display: inline-flex;
  align-items: center;
  gap: 85px;
  margin-right: 85px;
  flex-wrap: wrap;
}

.nav__item {
  margin: 0;
}

.nav__link {
  position: relative;
  padding-bottom: 6px;
  outline: none;
  font: 600 18px 'Montserrat';
  line-height: 0;
  color: var(--color-dark);
  transition: border-bottom 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-dark);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow);
}

.nav__link:hover::after {
  transform: scale(1);
  background-color: var(--color-yellow);
}

.nav__link:active {
  color: var(--color-active);
}

.search {
  margin: 0;
  border: none;
  outline: none;
  margin-right: -1px;
  stroke: var(--color-dark);
  fill: var(--color-dark);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.search:focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--color-yellow);
}

.search:hover {
  stroke: var(--color-yellow);
  fill: var(--color-yellow);
}

/* main */
.btn {
  margin: 0;
  padding: 26px 40px 24px;
  border: 3px solid var(--color-yellow);
  border-radius: 16px;
}

/* hero */
.hero {
  position: relative;
}

.hero--offset {
  margin-bottom: 52px;
}

.hero__block {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 1800px;
  width: 100%;
  min-height: 620px;
  padding: 100px 15px 50px 80px;
  border: 0px solid transparent;
  border-radius: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin: 0;
  margin-bottom: 23px;
  max-width: 50%;
  font: 800 70px 'Montserrat';
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 91px;
  max-width: 50%;
  font: 700 24px 'Montserrat';
  color: var(--color-white);
}

.hero__btn {
  margin: 0;
  padding: 26px 40px 24px;
  border: 0px solid transparent;
  outline: none;
  border-radius: 16px;
  font: 700 23px 'Montserrat';
  font-style: normal;
  text-align: center;
}

.hero__btn--style {
  color: var(--color-white);
  background-color: var(--color-yellow);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn--style:focus-visible {
  background-color: var(--color-hover);
}

.hero__btn--style:hover {
  background-color: var(--color-hover);
}

.hero__btn--style:active {
  background-color: var(--color-active);
}

.hero__block--bg {
  background-image: url('../img/hero_bg.png');
}

/* about */
.about--offset {
  margin-bottom: 100px;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  font: 400 48px 'Montserrat';
  color: var(--color-dark);
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-dark);
}

.about__info {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.about__card {
  display: flex;
  align-items: flex-end;
  max-width: 868px;
  width: 100%;
  min-height: 622px;
  border: 0px solid transparent;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 50px;
  border: 0px solid transparent;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about__text {
  margin: 0;
  max-width: 433px;
  width: 100%;
  font: 700 16px / 32px 'Montserrat';
  color: var(--color-white);
}

.about__btn {
  margin: 0;
  padding: 18px 36px;
  border: 3px solid var(--color-yellow);
  border-radius: 16px;
  outline: none;
  font: 700 16px 'Montserrat';
}


.about__btn--style {
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__btn--style:focus-visible {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.about__btn--style:hover {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.about__btn--style:active {
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.about__list {
  display: flex;
  flex-flow: column;
  max-width: 870px;
  width: 100%;
  gap: 25px;
}

.about__case {
  display: flex;
  min-height: 295px;
  gap: 50px;
  padding: 65px 113px 64px 59px;
  border: 1px solid var(--color-gray);
  border-radius: 32px;
}

.about__icon {
  max-width: 190px;
  width: 100%;
  max-height: 165px;
  height: 100%;
}

.about__case__text {
  display: flex;
  flex-flow: column wrap;
  max-width: 452px;
  width: 100%;
  gap: 8px;
}

.about__case__title {
  margin: 0;
  font: 700 24px 'Montserrat';
}

.about__case__descr {
  margin: 0;
  font: 400 16px / 32px 'Montserrat';
}

.about__card--bg {
  background-image: url('../img/about/block-bg.png');
}

/* how */
.how--offset {
  margin-bottom: 99px;
}

.how__title {
  margin: 0;
  margin-bottom: 32px;
  font: 400 48px 'Montserrat';
}

.how__info {
  display: flex;
  justify-content: space-between;
  gap: 50px
}

.how__block {
  max-width: 758px;
  width: 100%;
}

.how__title--style {
  margin-bottom: 8px;
  padding-top: 1px;
  padding-left: 1px;
  font: 700 24px / 32px 'Montserrat';
}

.how__descr {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 1px;
  font: 400 16px / 32px 'Montserrat';
}

.how__buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.how__btn {
  margin: 0;
  padding: 21px 39px;
  border: 0 solid transparent;
  outline: none;
  border-radius: 16px;
  font: 700 16px 'Montserrat';
}

.how__btn--style {
  background-color: var(--color-yellow);
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}

.how__btn--style:focus-visible {
  background-color: var(--color-hover);
}

.how__btn--style:hover {
  background-color: var(--color-hover);
}

.how__btn--style:active {
  background-color: var(--color-active);
}

.how__ref {
  margin: 0;
  padding: 20px 36px;
  border: 1px solid var(--color-gray);
  border-radius: 16px;
  outline: none;
  font: 400 16px 'Montserrat';
}

.how__ref--size {
  border: 1px solid var(--color-gray);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.how__ref--size:focus-visible {
  color: var(--color-white);
  background-color: var(--color-hover-gray);
  border-color: transparent;
}

.how__ref--size:hover {
  color: var(--color-white);
  background-color: var(--color-hover-gray);
  border-color: transparent;
}

.how__ref--size:active {
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color: transparent;
}

.how__bg {
  padding-top: 6px;
  max-width: 869px;
  width: 100%;
  min-height: 470px;
  object-fit: cover;
  border-radius: 32px;
  overflow: hidden;
}

/* questions */
.questions--offset {
  margin-bottom: 95px;
}

.questions__title {
  margin: 0;
  margin-bottom: 32px;
  font: 400 48px 'Montserrat';
}

.questions__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.questions__item {
  margin: 0;
  padding: 64px 58px;
  max-width: 569px;
  width: 100%;
  min-height: 292px;
  border: 1px solid var(--color-gray);
  border-radius: 32px;
}

.questions__title--style {
  margin-bottom: 8px;
  font: 700 24px 'Montserrat';
}

.questions__descr {
  margin: 0;
  font: 400 16px / 32px 'Montserrat';
}

/* footer */
.footer {
  background-color: var(--color-dark);
}

.footer--offset {
  padding: 50px 0;
}

.footer__container {
  display: flex;
  gap: 32px;
}

/* menu */
.footer__menu {
  margin: 0;
  max-width: 569px;
  width: 100%;
}

.footer-svg {
  margin-bottom: 16px;
}

.footer__menu__item {
  margin: 0;
}

.footer__menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.footer__menu__list--offset {
  margin-bottom: 90px;
}

.footer__menu__social {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer__menu__link {
  margin: 0;
  font: 600 18px / 36px 'Montserrat';
  color: var(--color-gray);
  transition: color 0.3s ease-in-out;
}

.footer__menu__link:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow);
}

.footer__menu__link:hover {
  color: var(--color-yellow);
}

.footer__menu__link:active {
  color: var(--color-active);
}

/* .footer__social__item {
  outline: none;
} */

.footer__social__item:focus-visible .social__link {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow);
}

.footer__social__link {
  fill: var(--color-hover-gray);
  transition: fill 0.3s ease-in-out;
}

.footer__social__link:hover {
  fill: var(--color-yellow);
}

.footer__social__link:active {
  fill: var(--color-active);
}



/* form */
.footer__form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  margin: 0;
  max-width: 568px;
  width: 100%;
}

.footer__form__title {
  margin: 0;
  margin-bottom: 25px;
  font: 400 48px 'Montserrat';
  color: var(--color-gray);
}

.footer__form__field {
  margin: 0;
  margin-bottom: 25px;
  max-width: inherit;
  width: inherit;
}

.footer__form__field--resize {
  margin-bottom: 28px;
}

.footer__form__fio {
  padding: 14px 24px;
  max-width: inherit;
  width: inherit;
  height: 60px;
  border: 0 solid transparent;
  border-radius: 16px;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  background-color: var(--color-dark-gray);
}

.footer__form__mail {
  padding: 14px 24px;
  max-width: inherit;
  width: inherit;
  height: 60px;
  border: 0 solid transparent;
  border-radius: 16px;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  background-color: var(--color-dark-gray);
}

.footer__form__message {
  padding: 14px 24px;
  max-width: inherit;
  width: inherit;
  height: 150px;
  border: 0 solid transparent;
  border-radius: 16px;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  background-color: var(--color-dark-gray);
}

.footer__form__message::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.footer__form__ph::placeholder {
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-gray);
}

.input-color {
  background-color: var(--color-dark-gray);
  transition: background-color 0.3s ease-in-out;
}

.input-color:focus-visible {
  background-color: var(--color-hover-gray);
}

.input-color:hover {
  background-color: var(--color-hover-gray);
}

.input-color:active {
  background-color: var(--color-hover-gray);
}

.footer__form__block {
  display: flex;
  justify-content: space-between;
  max-width: inherit;
  width: inherit;
  gap: 10px;
}

.footer__btn {
  margin: 0;
  padding: 19px 53px;
  border: 0 solid transparent;
  border-radius: 16px;
  font: 700 16px 'Montserrat';
  color: var(--color-white);
  outline: none;
}

.footer__btn--style {
  background-color: var(--color-yellow);
  transition: background-color 0.3s ease-in-out;
}

.footer__btn--style:focus-visible {
  background-color: var(--color-hover);
}

.footer__btn--style:hover {
  background-color: var(--color-hover);
}

.footer__btn--style:active {
  background-color: var(--color-active);
}

.footer__form__check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1.2em;
}

.check-style {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-gray);
}

.check-style:checked+.custom-checkbox {
  background-image: url('../img/check-arrow.svg');
}

.footer__check__descr {
  margin: 0;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-gray);
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
  border: 1px solid var(--color-gray);
  background-repeat: no-repeat;
  background-size: contain;
}

.check-style:focus + .custom-checkbox {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow);
}

.check-style:hover + .custom-checkbox {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow);
}

/* text */
.footer__text {
  margin: 0;
  max-width: 569px;
  width: 100%;
  padding-left: 208px;
  padding-top: 88px;
  font: 400 16px / 32px 'Montserrat';
  color: var(--color-gray);
}
